@model IEnumerable<MvcBlogSitesi.Models.Kategori>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Kategoriler</h2>

<p>
    @Html.ActionLink("Yeni Kategori", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KategoriAdı)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.KategoriAdı)
    </td>
    <td>
        @Html.ActionLink("Düzenle", "Edit", new { id = item.KategoriNo }) |
        @Html.ActionLink("Detay", "Details", new { id = item.KategoriNo }) |
        @Html.ActionLink("Sil", "Delete", new { id = item.KategoriNo }) |
    </td>
</tr>
}

</table>
