@using PagedList
@using PagedList.Mvc
@model IPagedList<MvcBlogSitesi.Models.Makale>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var item in Model)
{
    <div class="card mb-4">
        <img class="card-img-top" src="@item.MakaleFoto" alt="@item.MakaleBaşlık">
        <div class="card-body">
            <h2 class="card-title">
                <a href="/Home/MakaleDetay/@item.MakaleNo">@item.MakaleBaşlık</a>
            </h2>
            <p class="card-text">
                @if (item.Makaleİçerik.Length > 200)
                {
                <p>@Html.Raw(item.Makaleİçerik.Substring(0, 200))</p>
            }
            else
            {
                <p>@Html.Raw(item.Makaleİçerik)</p>
            }
                <a href="/Home/MakaleDetay/@item.MakaleNo" class="btn btn-primary">Devamını Oku &rarr;</a>
                <i class="fas fa-tags">@item.Etikets.Count()</i>
                <i class="fas fa-book-open">@item.MakaleOkunma</i>
                </p>
            </div>
            <div class="card-footer text-muted">
                <span>
                    <i class="fas fa-clock">@String.Format("{0: MMMM yyyy}", item.MakaleTarih)</i>
                    <a href="/Üye/UyeProfil/@item.Üye.ÜyeNo">@item.Üye.KullanıcıAdı</a>
                </span>
            </div>
        </div>
    }
<div class="row" style="margin-left:45%">
    <ul class="pagination" >
        <li class="page-item">
            @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }), PagedListRenderOptions.Classic)
        </li>
    </ul>
</div>

